---
---


$primary-color: #2B5794;
$secondary-color: #2B5794;
@import 'materialize';

html, body {
  height: 100%;
  background-color: #f5f5f5;
  font-size: 1.1em;
}

main {
  padding: 0 1em;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

main .robot {
  width: 80%;
  max-width: 250px;
  min-width: 200px;
  margin: 50px auto 20px;
  transition: all .3s ease;
}

main .robot.stop {
  transition: none;
}

main .btn {
  height: 2em;
  line-height: 2em;
  font-size: 1.2em;
}

footer {
  margin-top: 60px;
}



.container {
  position: relative;
  box-sizing: border-box;
  float: none;
  height: calc(50vh - 28px);
  width: 100%;
}

// @media all and (min-aspect-ratio: 1/1) {
//   .container {
//     float: left;
//     width: 50%;
//     height: 100vh;
//   }
// }

$joystick: 100px;

.joystick {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: $joystick;
  height: $joystick;
  top: calc(50% - #{$joystick / 2});
  left: calc(50% - #{$joystick / 2});
  background: #eee;
  border: 2px solid #aaa;
  border-radius: 50%;

  // Joystick shadows; too slow for mobile rendering
  // box-shadow:
  //   -5px 5px 5px 5px rgba(255, 255, 255, .3) inset,
  //   5px -5px 10px -10px rgba(0, 0, 0, .3) inset,
  //   0 0 5px 5px rgba(0, 0, 0, .15) inset,
  //   0 0 5px 10px rgba(255, 255, 255, .4) inset,
  //   0 0 $joystick / 4 $joystick / 4 rgba(255, 255, 255, .2) inset,
  //   0 0 0 $joystick rgba(255, 255, 255, .1) inset,
  //   0 0 10px -3px #000;
}
.joystick.stop {
  transition: all .2s ease;
}

nav .title {
  display: block;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  // font-weight: bold;
}

nav .logo {
  height: 46px;
  display: inline-block;
  margin: 5px 0;
}


.input-field {
  margin-top: 0;
}

nav {
  padding: 0 15px;
}

nav .brand {
  font-size: 1.3em;
  font-weight: bold;
}

label {
  color: #777;
}

a.alguien {
  float: right;
  margin-top: 5px;
}

.modal h2 {
  font-size: 1.4em;
}

.character-counter {
  margin-top: -50px;
}

img {
  max-width: 100%;
}

iframe {
  margin-top: 20px!important;
  width: 100%!important;
}
